einops==0.8.1
fancy_einsum==0.0.3
fasttext==0.9.3
hanziconv==0.3.2
httpx==0.13.3
jaxtyping==0.3.1
matplotlib==3.10.1
networkx==3.3
numpy==2.2.4
pandas==2.2.3
plotly==5.24.0
pygoogletranslation==2.0.6
pyinstrument==4.7.3
scikit_learn==1.6.1
scipy==1.15.2
seaborn==0.13.2
setuptools==72.1.0
streamlit==1.38.0
streamlit_extras==0.6.0
torch==2.4.1
tqdm==4.66.5
transformer_lens==2.15.0
transformers==4.44.2
typeguard==4.3.0
typeguard==2.13.3
typing_extensions==4.13.1
